.main-container {
    width: 800px;
    margin: auto;
    /*background-color: orange;*/
    text-align: center;



}

#avatar-image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 3px solid white;
    margin-top: -30px;

}
.main-container h2{
    color: gray;
    font-size: 14px;
    margin-top: 30px;

}

.main-container p{
    color: gray;
    font-size: 14px;
   text-align: left;

}


div h3:first-of-type {
    font-weight: bold;
    font-size: 14px;
    color: dimgray;

}

div h4:first-of-type{
    font-weight: bold;
    font-size: 16px;
}

#icons-countainer {
    text-align: right;
}
#icons-countainer span{
    color: white;
    background-color: #1E88E5;
    padding: 5px;
    border-radius: 3px;
}

#divider {
    border : 1px solid grey;
    margin: 5px 0;

}


