img{
    width: 40px;
    height: 40px;
}

td{
    padding-bottom:20px;
    color: #686868;
    font-family: sans-serif;


}
table{
    padding: 10px ;
    margin-left: auto ;
    margin-right: auto;
    margin-top:100px;
    background-color: white

}

.TrackName{
    color: black;
    font-size: 17px;

}
