table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

tr:nth-child(3n + 3) {
   color: white ;

}

th {
    text-align: left;
    background-color: #18171c;
    color: white;
    padding: 10px;
}

tr{
    background-color: #26232c;
    color: #4e4b54;
    border: 3px solid black;

}

.Name-SubOccupation{
    color: #7c7982;
}

td {
    padding: 10px;
    line-height: 1.3;

}



