#MainContainer{
    margin: 30px;
    width: 800px ;
    horiz-align: center
}
#MainContainer div{
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
#MainContainer p{
    margin-top: 18px;

}

#FirstLine{
    font-size: 4px;

}

#IconHeader img{
    width: 6px;
    float: left;
    margin-right: 2px;
}

#IconHeader span {
    font-size: 5px;
    float: left;
}
#IconHeader div {
    margin-right: 10px;
    float: left;
}
#IconHeader{
    margin-bottom:40px;
}

.LastLine {
    font-size: 5px;
    color: #7c7982;
    float: left;
}

#LastIcon {
    width: 6px;
    float: left ;
    margin-right: 2px;
}

#SiteButtonContainer img{
    float: left;
    width: 10px;
    margin: 5px 5px 0px 5px;

}

#SiteButtonContainer span{
    float: left;
    font-size: 11px;
    vertical-align: center;
    margin-top: 3px;
    color: white;
    font-weight: bold;
}
#SiteButtonContainer div{
    margin-right: 5px;
    float: left;
    width: 18%;
    height: 20px;
}


#AuthorContainer img {
    width: 60px;
    border-radius: 30px;
   margin: 20px;

}

#AuthorContainer div {
    float: left;
}
#AuthorContainer{
    margin-top: 15px;
    float: left;
    background-color: rgba(220,239,241,2);
}
#AuthorContent{
    margin-left: 20px;

}
#Author{
    font-weight: bold;
    margin-bottom: -10px;
}

#AuthorSubContent {
    width: 700px;
    float: left;
}


#FinalPart div{
    width: 49% ;
    display: inline-block;
    margin-top: 15px;
}

#AvatarContainer {
    width: 80px

}

@media screen and (max-width: 400px) {
    #MainContainer {
        width: 300px;
    }
    #MainPicture  {
        width: 300px;
    }
    #AuthorContainer {
        width: 300px;
        height: 300px;
    }
    #AuthorContainer img{
       text-align: center;
    }
    #SiteButtonContainer span{
        font-size: 6px;
        align-items: center;
        display: flex;
        margin-top: 6px;
        margin-left: -2px;


    }
    #SiteButtonContainer {
        display: flex;
    }

    #Author{
        text-align: center;
    }

    #AuthorSubContent {
        width: 255px;
        text-align: center;
    }

    #AvatarContainer{

        margin-left: 100px;

    }

    #AuthorContent{
        margin-top: -30px;
    }



}





