#MainContainer{
    margin: auto;
    /*background-color: aqua;*/
    width: 90vw;
    font-size:2.5vw;

}

#Header {
    /*background-color: orange;*/
    margin-left: -10vw;
    text-align: center;
    padding-top: 1.4vw;
    color: white;

    height: 50vw;
    width: 110vw;
    background: rgb(120,181,173);
    background: linear-gradient(90deg, rgba(120,181,173,1) 23%, rgba(66,56,217,1) 100%);


}

#Header span{
    margin-left: 1vw;
    font-size:2vw;
}

#MainPicHolder{
    width: 90vw;
    margin-top: -20vw;
    /*background-color: blue;*/

}

#MainPic {
    width: 90vw;
    text-align: center;
    vertical-align: center;
    margin-bottom: -1vw ;
}
#IconHolder div{
    width: 30vw;
    height: 5vw;
    float: left;
}
#IconHolder img{
    width: 3vw;
    margin-left: 13vw;
    margin-top : 1vw ;
}
#FaceBookIcon{
    text-align: center;
    vertical-align: center;
    color: white;
    height: 4.6vw;
    background-color: #455994
}

#TwitterIcon{
    background-color: #4d9eed
}
#PinterestIcon{
    background-color: #af2627
}

#ContentHolder div{
    margin-top: 4vw;
    line-height: 4.5vw;
}

#BlueBox {
    text-align: center;
    color: white;
    width: 85vw;
    padding: 2.5vw;
    background: rgb(122,185,174);
    background: linear-gradient(21deg, rgba(122,185,174,1) 0%, rgba(121,184,175,1) 22%, rgba(120,181,176,1) 24%, rgba(85,82,213,1) 100%);
}

#BlueBox form {
    margin-top: 3vw;
}

#BlueBox form input {
    width: 78vw;
    margin-top: 0.7vw;
    padding-left: 1vw;
    height: 4vw;
    font-size: 2.5vw;

}

#Submit {
    background-color: #564ed8;
    border-color: #564ed8;
    color: white;
    font-weight: bold;
}

/*.trapezoid {*/
/*    border-bottom: 502px solid #555;*/
/*    border-left: 25px solid #555;*/
/*    border-right: 223px solid transparent;*/
/*    height: 0;*/
/*    width: 125px;*/
/*    transform: rotate(90deg)*/
/*}*/



