.MainContainer{
    /*background-color: gray;*/
    display: grid;
    height: 100vh;
    grid-template: repeat(3,33fr)/25fr 37fr 37fr;
    grid-template-areas: "Sidebar Header Header"
                         "Sidebar ImageHolder ImageHolder"
                         "Sidebar ImageHolder ImageHolder" ;
    line-height: 2.8vh;
}

.Sidebar{
    grid-area: Sidebar;
    /*background-color: #2b4b80;*/
    display: flex;
    flex-direction: column;
    padding: 2vw 8vw 0 2vw;


}
.IconHolder ion-icon{
    margin: 0.3vw;
    font-size: 1vw;

}
.Header{
    grid-area: Header;
    /*background-color: gold;*/
    display: flex;
    flex-direction: column;
    align-content:center ;
    justify-content: center;
    text-align: center;
    padding: 0 5vw 0 5vw;
}
.HeaderContent{
    font-size: 1.2vw;
}

.ImageHolder{
    grid-area: ImageHolder;
    /*background-color: green;*/
    grid-template: repeat(2,50fr)/repeat(2,50fr);
    display: grid;
    grid-gap: 0.3vw;
}

.Bold{
    font-weight: bold;
}

.Gray{
    color: gray;
}
img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 400px) {
    .MainContainer{
        display: grid;
        height: 100vh;
        grid-template: repeat(5,19fr)/25fr;
        grid-template-areas: "Header"
                             "ImageHolder ImageHolder ImageHolder ImageHolder ";
    }

    .Header{
        grid-area: Header;
        display: flex;
        flex-direction: column;
        align-content:start ;
        justify-content: start;
        text-align: center;
        justify-items: start;
        align-items: start;
    }

    .ImageHolder{
        grid-area: ImageHolder;
        grid-template: repeat(4,19fr)/25fr;
        display: grid;
        grid-gap: 0.3vw;

    }


}

